<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Przetargi</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Strona główna</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/tenders">Lista przetargów</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/tenders/ended">Zakończone przetargi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/tenders/new">Dodaj przetarg</a>
    </li>
  </ul>
</nav>